p , h3{
    color: brown;
    background-color: plum;
}
table, th,td{
    border: 2px solid;
    
}
td{
    background-color: aqua;
}
.para1{
    border-style: dashed;
}
.para2{
    border-style: dotted;
    border-radius: 17px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.para3{
    border-style: double;

}
div{
    background-color: rgb(130, 18, 18);
    padding-left: 20px;
    width: 80%;
    margin-top: 100px;

    position: relative;
}
.first_table{
    margin-left: 260px;
    /* position: relative;
    bottom: 200px; */
    /* to use this, remove position relative on the containing div */

    /* OR */
    position: absolute;
    bottom: 200px;
   
}
.image_1{
    margin-left: 300px;
}
.div_2{
    background-color: rgba(18, 243, 243, 0.781);
    text-align: center;
}

.class_fixed{
    position: fixed;
    left: 500px;
}
.div_3{
    background-image: url(images/Screenshot\ google.jpg);
    background-repeat: no-repeat;
    
}
.flexed{
   /* background-color: rgb(131, 4, 4); */
   display: flex;

}
.flexed_2{
    display: flex;
    /* justify-content: space-around;
    justify-content: space-between; */
    justify-content: space-evenly;
    background-color: transparent;
 }